/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.successMsg {
	color: green;
	font-style: italic;
}

.errorMessage {
	color: red;
	font-style: italic;
}

.container .workday {
	max-width: 600px;
	margin: 0 auto;
	background: #f8f8f8;
	border: 1px solid #e6e6e6;
}

.content {
	padding: 60px;
	text-align: center;
}

nav {
	float: right;
	margin-right: 20px;
	margin-top: -20px;
}

.descriptionContainer {
	display: none;
}

.seperator {
	color: grey;
}

a.workday-btn {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.workcount {
	margin-bottom: 20px;
}

.workcount .hourDecimal {
	font-size: 78px;
	font-weight: bold;
	font-style: italic;
}

.workcount .text {
	font-style: italic;
	font-size: 40px;
}

.totalSalary {
	border-top: 1px solid lightgrey;
	margin-bottom: 20px;
	float: right;
}
