%div.workcount
	%span.workcount.hourDecimal
		- if @workday != nil
			= @workday.worktime
		- else
			0
		

	%span.workcount.text arbejdstimer
	<br />
	%span.workcount.extracount 
		(
		%span.workcount.hour
			0 
		timer 
		%span.workcount.minutes
			0 
		minutter
		%span.workcount.seconds
			0
		sekunder )

%div.descriptionContainer
	%span.descriptionTitle
		Hvad fik du lavet idag?
	<br />
	%textarea{:cols => 100, :rows => 5, id: 'description'}
		- if @workday != nil
			= @workday.description
	<br />
	%a.btn.btn-default.saveBtn Gem arbejdsdagen
	<br /><br />
- if @workday != nil
	%button.btn.btn-default.workday-btn.startBtn Fortsæt arbejdsdag
-else
	%button.btn.btn-default.workday-btn.startBtn Start arbejdsdag
%button.btn.btn-default.workday-btn.stopBtn{:disabled => true} Stop arbejdsdag
%div.dateContainer
	Dato: 
	- time = Time.new
	%span.date
		= time.strftime("%d/%m/%Y")

:javascript
	siteRefreshed();